.detail {
    display: flex;
    justify-content: center;
    text-align: center;
}

.detail p {
    width: 35rem;
    margin: 0;
}

.div {
    text-align: center;
}

.image {
    width: 200px;
    height: 200px;
}

.detailItem {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item{
    margin: 5%
}

h1 {
    font-size: 300%;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}