.NavBar {
    display: flex;
    background: transparent;
    width: 100%;
    justify-content: space-around;
    background: white;
    align-items: center;
}

.LeftNav{
    display: flex;
    float: left;
    align-content: flex-start;
    align-items: center;
}

.currectCategory {
    font-weight: bold;
}

.link {
    text-decoration: none;    
}

.RightNav{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    align-items: center;
}

.itemForm{
    display: flex;
    align-items: center;
}

.botonLogin{
    margin: 10px;
}

.botonMenu{
    margin: 20px;
}

.App-logo2{
    margin: 20px;
}