.item {
    margin: 10%
}

.contador {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.contador button {
    margin: 5px;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
}

.buttonRest {
    color: red;
}

.buttonPlus {
    color: green;
}

.addCart{
    background-color: orange;
    color: white;
}